
<app-card [iconClasses]="'fas fa-info-circle'" [title]="'Flatten Pipe'" [subTitle]="'Pipes'">
  <div body>
    {{ flattenData | flattenPipe }}
  </div>

  <div class="footer">
    <button (click)="modifyFlatten()">Modify</button>
    <button (click)="resassignFlatten()">Reassign</button>
  </div>

</app-card>

<app-card [iconClasses]="'fas fa-info-circle'" [title]="'Truncate'" [subTitle]="'Pipes'">
  <p body>
    {{ 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam veniam asperiores, dolor harum optio, ipsa laborum, quibusdam iusto cum esse exercitationem? Quasi voluptates vitae eum, dolor perspiciatis doloribus sequi? Earum, itaque rerum corporis praesentium consequuntur nesciunt provident, libero vitae in cumque alias perspiciatis ea eaque nulla labore eum quisquam illum inventore vel beatae ex officia rem impedit! Harum cupiditate vero facere ipsa iusto pariatur consequatur officiis laborum eos aperiam, adipisci similique nam sit! Molestias minima repudiandae atque placeat?' | truncate : 25 }}
  </p>
</app-card>

<app-card [iconClasses]="'fas fa-info-circle'" [title]="'Credit Card Formatter'" [subTitle]="'Components'">
  <div body>
    <p>{{'1111222233334444' | ccFormat}}</p>
    <p>{{'111222333444' | ccFormat}}</p>
    <p>{{'a111222233334444' | ccFormat}}</p>
  </div>
  <div footer>
    <button class="primary"></button>

  </div>
</app-card>




