@import '/src/styles/colors';

blockquote {
  padding: 20px;
  display: grid;
  color: white;
  background-color: blue;
  grid-gap: 15px;
  grid-template-columns: auto 1fr;
}

i {
  font-size: 2em;
  color: $primary;

  .author {
    font-size: 0.5em;
    color: $secondary;
  }


  
}

