$dark-purple: #322653;
$purple: #8062D6;
$light-purple: #9288F8;
$green: #40c980;
$blue: #007acc;
$black: #1e1e1e;
$gray: #929293;
$light-gray: #bdc3c7;
$orange: #c97e5a;
$yellow: #e5e510;
$red: #ff6058;
$peach: #FFD2D7;
$white: #f2f2f2;

$background-color: #252525;
$secondary-background: #2b2b2b;
$tertiary-background: #393939;
$quaternary-background: #232323;


$primary: $dark-purple;
$secondary: $purple;
$tertiary: $light-purple;
