@import '../../../styles.scss';

button {
  position:fixed;
  z-index: 2;
  right: 3%;
  bottom: 3%;
  border-radius: 50%;
  border: none;
  background-color: $red;


  transition: all 0.3s ease-in-out;
  height: 0;
  width: 0;
  visibility: hidden;
  @include box-shadow();

  &.is-shown {
    visibility: visible;
    height: 50px;
    width: 50px;
  }

  i {
    color: white;
    font-size: 0;

    &.is-shown {
      font-size: 2rem;
    }
  }

}